.navbar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.6rem;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f71aa;
}
.navbar-brand {
    font-weight: bold;
    margin-left: 1rem;
  }
  