.button-26 {
    appearance: button;
    background-color: #1652F0;
    border: 1px solid #1652F0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    margin: 10px;
  }
  
  .button-26:disabled {
    opacity: .5;
  }
  
  .button-26:focus {
    outline: 0;
  }
  
  .button-26:hover {
    background-color: #0A46E4;
    border-color: #0A46E4;
  }
  
  .button-26:active {
    background-color: #0039D7;
    border-color: #0039D7;
  }
  
  .secondary-container{
      background-color: #3CB371;
      width: 50vw;
      position: relative;
      left: 300px;
      border: 1px solid;
      padding: 10px;
    /* box-shadow: 5px 10px #888888; */
    
  }
  
  .primary-container{
    width: 90vw;
    background-color: #0A46E4;
    position: relative;
    left: 55px;
    min-height: fit-content;
    justify-content: center;

  }

  .input1{
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 490px;
  }

  /* .form1{
    background-color: black;
  }
   */
  
  
  
  #button-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
  
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
     background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    position: relative;
    bottom: 490px;
    left: 6px; 
  }
  
  #button-11:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
  


  