*{
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    outline:none;
}

.myDiv{
   width: 100%;
   display: flex;
   justify-content: center;
}

.myDiv form{
    width: 40%;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #1f71aa;
    border-radius: 10px;
}

form h1{
    color: #1f71aa;
}

form label { 
 font-size: 1.2rem;
}
   
form input, textarea{
 width: 100%;
 height: 50px;
 margin: 4px;
 border:2px solid #1f71aa ;
 border-radius: 10px;
 padding: 10px 15px;
 font-size: 20px;
 transition: all .2s ease-in-out;
}

form input:focus, textarea:focus {
    border: 3px solid #1f71aa;
}

form button{
        margin-top: 5px;
        border: none;
        background-color: #1f71aa;
        color: #fff;
        padding: 10px 0;
        width: 100%;
        font-size: 20px;
        font-size: 800;
        cursor: pointer;
        border-radius: 10px;
        transition: all .2s ease-in-out;
}

form button:hover {
    transform: scale(1.05);
}